$dark-color: #581845;
$primary-color: #900C3F;
$light-color: #DAF7A6;
$secondary-color: bisque;
$secondary-dark-color: burlywood;

$title-fnt-name:"Coca-Cola", "Brush Script MT", cursive;
$base-fnt-name:"Myster-Display", "Courier New", Courier, monospace;

$base-font: 20px $base-fnt-name;
$title-font: 90px $title-fnt-name;
$scd-title-font: 50px $title-fnt-name;

@mixin class-name-by-prop($prop,$class-prefix,$class-postfix, $value-prefix, $values...) {
  @each $value in $values {
    #{$class-prefix}#{$value}#{$class-postfix} {
      #{$prop}: #{$value-prefix} #{$value};
    }
  }
}

@mixin box-shadow($value) {
  -webkit-box-shadow: $value;
  -o-box-shadow: $value;
  -moz-box-shadow:$value;
  box-shadow:$value;
}

@font-face {
  font-family: "Coca-Cola";
  src: url("Coca-Cola-Regular-Rus-lat.otf");
}
@font-face {
  font-family: "Myster-Display";
  src: url("Myster-Display.otf");
}
*{
  margin: 0;
  padding: 0;
  text-align: center;
}
body{
  padding: 50px;
}
h1{
  color: $dark-color;
  font: $title-font;
  border-bottom: 3px solid $primary-color;
}
h2{
  color: $primary-color;
  font: $scd-title-font;
  padding: 30px 0 80px;
}
section{
  padding: 50px;
  border-bottom: 3px solid $primary-color;
}
.index{
  section{
    display: inline-block;
    vertical-align: top;
    border: none;
  }
  ul{
    list-style-type: none;
    font: $base-font;
    font-weight: bold;
    a{
      text-decoration: none;
    }
  }
}