@import 'base.scss';

section.transform {
  div:not(.container) {
    width: 100px;
    height: 50px;
    margin: 5px;
    padding: 10px;
    float: left;
    background: $light-color;
    color: $dark-color;
    border: 4px solid $dark-color;
    border-radius: 15px;
    font: $base-font;
    font-weight: bold;
    line-height: 50px;

    &:hover {
      &.ch-bor-width {
        border-width: 8px;

        &-shadow {
          box-shadow: 0 0 0 4px $dark-color;
        }
      }
    }

    &.del-shadow {
      box-shadow: 2px 2px 2px 2px $dark-color;

      &:hover {
        box-shadow: none;
      }
    }
  }

  div {
    transition: all 0.5s ease;

    &.container {
      float: left;

      div:after {
        content: '';
        display: block;
        clear: both;
      }
    }

    &:hover {

      &.double-up {
        transform: scale(2, 2);
      }

      &.double-x {
        transform: scale(2, 1);
      }

      &.double-y {
        transform: scale(1, 0.5);
      }

      &.container {
        .move {
          position: relative;

          &.top {
            top: -30px;
          }

          &.right {
            right: -10px;
          }

          &.bottom {
            bottom: -10px;
          }
        }

        .mirror {
          transform: scale(-1, -1);
        }

        .up-down {
          transform: scale(1, -1);
        }

        .reflect {
          transform: scale(1, -1) translateY(-58px);
        }

        .rotate {
          transform: rotate(360deg);
        }

        .skewX {
          transform: skewX(30deg);
        }

        .skewY {
          transform: skewY(30deg);
        }

        .skew {
          transform: skew(45deg, -45deg);
        }

        .t-left {
          &.t-top {
            transform: translate(-10px, -10px);
          }
        }

        .t-right {
          &.t-bottom {
            transform: translate(10px, 10px);
          }
        }
      }
    }
  }
}